html {
	background-color: red;
}

.parent {
}

.coke {
	display: inline-block;
	width: 24%;
	text-align: center;
}

img{
	width:50%;
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
  	/*transform: translateY(50%);*/
}

img:hover{
	-webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
    cursor: pointer;
}